<div class="card general">
  <div class="additional">      
    <div class=" user-card">
      <div class="coords center">
       
      <h2>{{ user.login }}</h2> 
    
      <img [src]="user.avatar_url" alt="User Avatar" class="avatar">
      
      <h3>{{ user.created_at | date }}</h3>
    </div>
  </div>
  <div class="more-info">
    <div class="coords">
      <h2> {{ user.name }}</h2>
      <br>
        <p> {{ user.location }}
         {{ user.twitter_username }}</p>
        <p> <a href="{{ user.blog }}">{{ user.blog }}</a></p>
        
        <div class="col coords">
          <div class="data-container">
            <div class="data-item">
              <h5>Repos</h5>
              {{ user.public_repos }}
            </div>
            <div class="data-item">
              <h5>Followers</h5>
              {{ user.followers }}
            </div>
            <div class="data-item">
              <h5>Following</h5>
              {{ user.following }}
            </div>
          </div>
        </div>
        
        
        
    
  </div>
  </div>
 
  
</div>
  